{
  "openapi": "3.1.0",
  "info": {
    "title": "NutriPlant Admin Assistant",
    "version": "2.2.0",
    "description": "Plan PRO: note con tokens (sem, warn, star, **bold**, color, listas…). Sin imágenes. Ficha: priority+due_at. Ver PLAN-PRO-GPT-ACCIONES.md."
  },
  "servers": [
    {
      "url": "https://nutriplantpro.com"
    }
  ],
  "paths": {
    "/api/admin-assistant": {
      "post": {
        "operationId": "nutriplantAdminQuery",
        "summary": "Consulta NutriPlant y Plan PRO (lectura + crear/editar apuntes)",
        "description": "NutriPlant: project_analyses, manual_tecnico_catalog, nutrition_catalogs (fertilizantes/cultivos), etc. Plan PRO (solo Jesús): plan_pro_day, plan_pro_week, plan_pro_create, plan_pro_update. Nunca inventar datos de clientes.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta JSON con ok y datos"
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    }
  },
  "components": {
    "schemas": {
      "AdminRequest": {
        "type": "object",
        "required": ["action", "params"],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "admin_stats",
              "list_users",
              "user_summary",
              "search_projects",
              "project_detail",
              "project_analyses",
              "project_vpd_live",
              "project_climate",
              "plan_pro_catalog",
              "plan_pro_day",
              "plan_pro_week",
              "plan_pro_search",
              "plan_pro_item",
              "plan_pro_create",
              "plan_pro_update",
              "radar_project",
              "radar_search",
              "radar_overview",
              "free_tools_catalog",
              "lab_analyses_catalog",
              "manual_tecnico_catalog",
              "nutrition_catalogs",
              "describe_api"
            ]
          },
          "params": {
            "type": "object",
            "description": "Parámetros según action.",
            "properties": {
              "project_id": { "type": "string" },
              "project_name": { "type": "string" },
              "type": {
                "type": "string",
                "description": "project_analyses: suelo|solucion_nutritiva|extracto_pasta|agua|foliar|fruta|all"
              },
              "mode": { "type": "string", "description": "project_climate: saved|live|rainfall_refresh|all" },
              "email": { "type": "string" },
              "crop": { "type": "string" },
              "q": { "type": "string", "description": "Búsqueda o título de apunte Plan PRO" },
              "item_id": { "type": "string", "description": "UUID apunte Plan PRO" },
              "title": { "type": "string", "description": "plan_pro_create/update: título" },
              "note": {
                "type": "string",
                "description": "Nota con tokens Plan PRO: [[sem:fecha:media]], [[warn]], [[star]], **bold**, [[color:blue]]x[[/color]], ## titulo, - lista. Sin imagenes."
              },
              "body_plain": { "type": "string" },
              "append_due_marker": {
                "type": "string",
                "description": "plan_pro_update/create: chip 🚦 al final. Objeto {due_at,priority} o 2026-05-26:media"
              },
              "priority": { "type": "string", "description": "alta|media|baja o Alta|Media|Baja" },
              "due_at": { "type": "string", "description": "YYYY-MM-DD fecha objetivo" },
              "due_on": { "type": "string", "description": "plan_pro_day: YYYY-MM-DD" },
              "due_date": { "type": "string" },
              "area_id": { "type": "string" },
              "area_slug": { "type": "string" },
              "area_title": { "type": "string" },
              "category_id": { "type": "string" },
              "category_title": { "type": "string" },
              "next_action": { "type": "string" },
              "status": { "type": "string" },
              "thought_type": { "type": "string" },
              "relation_tags": { "type": "string", "description": "tags separados por coma" },
              "tags": { "type": "string" },
              "close": { "type": "boolean", "description": "plan_pro_update: marcar cerrado" },
              "reopen": { "type": "boolean" },
              "append_note": { "type": "string", "description": "plan_pro_update: añadir texto a nota" },
              "days_ahead": { "type": "integer" },
              "include_overdue": { "type": "boolean" },
              "limit": { "type": "integer" },
              "tool_id": { "type": "string" },
              "tab_id": { "type": "string" },
              "report_id": { "type": "string" },
              "latest_only": { "type": "boolean" },
              "chapter_id": { "type": "string" },
              "catalog": {
                "type": "string",
                "description": "nutrition_catalogs: fertirriego_materials|granular_materials|fertirriego_crops|granular_crops|all"
              },
              "scope": {
                "type": "string",
                "description": "nutrition_catalogs: builtin|user|all|project (default all)"
              },
              "material_id": { "type": "string", "description": "nutrition_catalogs: id o nombre de fertilizante" },
              "crop_id": { "type": "string", "description": "nutrition_catalogs: id de cultivo" },
              "name": { "type": "string", "description": "nutrition_catalogs: buscar por nombre exacto" }
            },
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
