{
  "openapi": "3.1.0",
  "info": {
    "title": "NutriPlant Admin Assistant",
    "version": "1.5.1",
    "description": "Solo lectura. Radar: radar_project devuelve radar_history (todas las fechas) y latest_radar (URLs NDVI/NDMI; opcional params.request_id para una del historial). Clima y Plan PRO."
  },
  "servers": [
    {
      "url": "https://nutriplantpro.com"
    }
  ],
  "paths": {
    "/api/admin-assistant": {
      "post": {
        "operationId": "nutriplantAdminQuery",
        "summary": "Consulta NutriPlant (admin, proyectos, clima, Radar, Plan PRO)",
        "description": "Radar: radar_project → radar_history[] (id, created_at, sentinel_period) + latest_radar (URLs firmadas). params.request_id = imagen concreta del historial. Clima: project_climate mode saved|live|rainfall_refresh|all. VPD: project_vpd_live.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta JSON con ok y datos"
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    }
  },
  "components": {
    "schemas": {
      "AdminRequest": {
        "type": "object",
        "required": ["action", "params"],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "admin_stats",
              "list_users",
              "user_summary",
              "search_projects",
              "project_detail",
              "project_vpd_live",
              "project_climate",
              "plan_pro_week",
              "plan_pro_search",
              "plan_pro_item",
              "radar_project",
              "radar_search",
              "radar_overview",
              "describe_api"
            ]
          },
          "params": {
            "type": "object",
            "description": "Parámetros según action.",
            "properties": {
              "project_id": { "type": "string" },
              "project_name": { "type": "string" },
              "mode": {
                "type": "string",
                "description": "project_climate: saved | live | rainfall_refresh | all"
              },
              "email": { "type": "string" },
              "crop": { "type": "string" },
              "q": { "type": "string" },
              "history_limit": {
                "type": "integer",
                "description": "radar_project: máx. imágenes en radar_history (default 24)"
              },
              "request_id": {
                "type": "string",
                "description": "radar_project: uuid de radar_history[] para URLs NDVI/NDMI de esa fecha (no solo la más reciente)"
              },
              "item_id": { "type": "string" },
              "limit": { "type": "integer" }
            },
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
