{
  "openapi": "3.1.0",
  "info": {
    "title": "NutriPlant Admin Assistant",
    "version": "1.1.0",
    "description": "Solo lectura. Admin, proyectos (detalle, fertirriego, suelo, ubicación, VPD) y Plan PRO (fase 3)."
  },
  "servers": [
    {
      "url": "https://nutriplantpro.com"
    }
  ],
  "paths": {
    "/api/admin-assistant": {
      "post": {
        "operationId": "nutriplantAdminQuery",
        "summary": "Consulta NutriPlant (admin o proyectos)",
        "description": "action + params. project_detail: project_name o project_id; opcional fertirriego_stage_index (0=primera etapa). project_vpd_live: VPD actual con Open-Meteo. search_projects, admin_stats, list_users, user_summary.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action"],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": [
                      "admin_stats",
                      "list_users",
                      "user_summary",
                      "search_projects",
                      "project_detail",
                      "project_vpd_live",
                      "describe_api"
                    ]
                  },
                  "params": {
                    "type": "object",
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta JSON con ok y datos"
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
