{
  "openapi": "3.1.0",
  "info": {
    "title": "NutriPlant Admin Assistant",
    "version": "1.5.0",
    "description": "Solo lectura. Clima: project_climate (lluvia/ET0/tiempo guardados o en vivo). Radar NDVI/NDMI. Plan PRO."
  },
  "servers": [
    {
      "url": "https://nutriplantpro.com"
    }
  ],
  "paths": {
    "/api/admin-assistant": {
      "post": {
        "operationId": "nutriplantAdminQuery",
        "summary": "Consulta NutriPlant (admin, proyectos, clima, Radar, Plan PRO)",
        "description": "Clima: project_climate params.mode=saved (lluvia/ET0/tiempo guardados), live (tiempo ahora), rainfall_refresh (consulta Open-Meteo), all. project_detail incluye sections.climate. VPD: project_vpd_live.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta JSON con ok y datos"
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    }
  },
  "components": {
    "schemas": {
      "AdminRequest": {
        "type": "object",
        "required": ["action", "params"],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "admin_stats",
              "list_users",
              "user_summary",
              "search_projects",
              "project_detail",
              "project_vpd_live",
              "project_climate",
              "plan_pro_week",
              "plan_pro_search",
              "plan_pro_item",
              "radar_project",
              "radar_search",
              "radar_overview",
              "describe_api"
            ]
          },
          "params": {
            "type": "object",
            "description": "Parámetros según action.",
            "properties": {
              "project_id": { "type": "string" },
              "project_name": { "type": "string" },
              "mode": {
                "type": "string",
                "description": "project_climate: saved | live | rainfall_refresh | all"
              },
              "email": { "type": "string" },
              "crop": { "type": "string" },
              "q": { "type": "string" },
              "item_id": { "type": "string" },
              "limit": { "type": "integer" }
            },
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
