{
  "openapi": "3.1.0",
  "info": {
    "title": "NutriPlant Admin Assistant",
    "version": "1.8.0",
    "description": "Solo lectura. Análisis lab (6 tipos), Clima, Radar, Plan PRO, catálogos GPT."
  },
  "servers": [
    {
      "url": "https://nutriplantpro.com"
    }
  ],
  "paths": {
    "/api/admin-assistant": {
      "post": {
        "operationId": "nutriplantAdminQuery",
        "summary": "Consulta NutriPlant (admin, proyectos, análisis, clima, Radar, Plan PRO)",
        "description": "Reportes lab en nube: project_analyses (type, report_id, latest_only). Criterios: lab_analyses_catalog. Calculadoras gratis: free_tools_catalog. Clima, Radar, Plan PRO.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta JSON con ok y datos"
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    }
  },
  "components": {
    "schemas": {
      "AdminRequest": {
        "type": "object",
        "required": ["action", "params"],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "admin_stats",
              "list_users",
              "user_summary",
              "search_projects",
              "project_detail",
              "project_analyses",
              "project_vpd_live",
              "project_climate",
              "plan_pro_week",
              "plan_pro_search",
              "plan_pro_item",
              "radar_project",
              "radar_search",
              "radar_overview",
              "free_tools_catalog",
              "lab_analyses_catalog",
              "describe_api"
            ]
          },
          "params": {
            "type": "object",
            "description": "Parámetros según action.",
            "properties": {
              "project_id": { "type": "string" },
              "project_name": { "type": "string" },
              "type": {
                "type": "string",
                "description": "project_analyses: suelo|solucion_nutritiva|extracto_pasta|agua|foliar|fruta|all"
              },
              "mode": { "type": "string", "description": "project_climate: saved|live|rainfall_refresh|all" },
              "email": { "type": "string" },
              "crop": { "type": "string" },
              "q": { "type": "string" },
              "item_id": { "type": "string" },
              "limit": { "type": "integer" },
              "tool_id": {
                "type": "string",
                "description": "free_tools_catalog: id herramienta (ej. hidro_solucion)"
              },
              "tab_id": {
                "type": "string",
                "description": "lab_analyses_catalog: suelo|solucion_nutritiva|extracto_pasta|agua|foliar|fruta"
              },
              "report_id": {
                "type": "string",
                "description": "project_analyses: id del reporte (sa_*, sn_*, etc.)"
              },
              "latest_only": {
                "type": "boolean",
                "description": "project_analyses: solo el reporte más reciente por tipo"
              }
            },
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
