{
  "openapi": "3.1.0",
  "info": {
    "title": "NutriPlant Admin Assistant",
    "version": "1.2.0",
    "description": "Solo lectura: admin, proyectos NutriPlant y Plan PRO. Siempre action + params."
  },
  "servers": [
    {
      "url": "https://nutriplantpro.com"
    }
  ],
  "paths": {
    "/api/admin-assistant": {
      "post": {
        "operationId": "nutriplantAdminQuery",
        "summary": "Consulta NutriPlant (admin, proyectos, Plan PRO)",
        "description": "Obligatorio action + params. Plan PRO: plan_pro_week ({} o days_ahead), plan_pro_search ({\"q\":\"inversión\"}), plan_pro_item ({\"item_id\":\"uuid\"} o {\"q\":\"título\"}). Proyectos: project_detail con project_id o project_name.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta JSON con ok y datos"
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    }
  },
  "components": {
    "schemas": {
      "AdminRequest": {
        "type": "object",
        "required": ["action", "params"],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "admin_stats",
              "list_users",
              "user_summary",
              "search_projects",
              "project_detail",
              "project_vpd_live",
              "plan_pro_week",
              "plan_pro_search",
              "plan_pro_item",
              "describe_api"
            ]
          },
          "params": {
            "type": "object",
            "description": "Parámetros según action.",
            "properties": {
              "project_id": { "type": "string" },
              "project_name": { "type": "string" },
              "fertirriego_stage_index": { "type": "integer" },
              "q": { "type": "string", "description": "Búsqueda Plan PRO o proyectos" },
              "search": { "type": "string" },
              "item_id": { "type": "string", "description": "UUID apunte Plan PRO" },
              "area_slug": { "type": "string", "description": "Pilar Plan PRO, ej. nutriplant" },
              "days_ahead": { "type": "integer", "description": "plan_pro_week: días hacia adelante (default 7)" },
              "email": { "type": "string" },
              "status": { "type": "string" },
              "crop": { "type": "string" },
              "limit": { "type": "integer" }
            },
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
