{
  "openapi": "3.1.0",
  "info": {
    "title": "NutriPlant Admin Assistant",
    "version": "1.4.0",
    "description": "Solo lectura: admin, proyectos, Plan PRO y Radar NDVI/NDMI (imágenes con URL firmada)."
  },
  "servers": [
    {
      "url": "https://nutriplantpro.com"
    }
  ],
  "paths": {
    "/api/admin-assistant": {
      "post": {
        "operationId": "nutriplantAdminQuery",
        "summary": "Consulta NutriPlant (admin, proyectos, Plan PRO, Radar)",
        "description": "Radar: radar_project devuelve latest_radar.images.ndvi/ndmi.signed_url e historial por fechas Sentinel. radar_search filtra por crop/email. radar_overview totales. Ej: {\"action\":\"radar_project\",\"params\":{\"project_name\":\"Limon\"}}.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Respuesta JSON con ok y datos"
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    }
  },
  "components": {
    "schemas": {
      "AdminRequest": {
        "type": "object",
        "required": ["action", "params"],
        "properties": {
          "action": {
            "type": "string",
            "enum": [
              "admin_stats",
              "list_users",
              "user_summary",
              "search_projects",
              "project_detail",
              "project_vpd_live",
              "plan_pro_week",
              "plan_pro_search",
              "plan_pro_item",
              "radar_project",
              "radar_search",
              "radar_overview",
              "describe_api"
            ]
          },
          "params": {
            "type": "object",
            "description": "Parámetros según action.",
            "properties": {
              "project_id": { "type": "string" },
              "project_name": { "type": "string" },
              "email": { "type": "string", "description": "Filtrar radar_search por usuario" },
              "crop": { "type": "string", "description": "Filtrar por cultivo" },
              "q": { "type": "string" },
              "has_radar_only": { "type": "boolean", "description": "radar_search: solo con snapshot" },
              "history_limit": { "type": "integer", "description": "radar_project: meses en historial" },
              "item_id": { "type": "string" },
              "limit": { "type": "integer" }
            },
            "additionalProperties": true
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
